* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 17px;
}
.navigation {
  background-color: #398953;
  width: 100%;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.title {
  color:white;
}
.settings {
  float: right;
}

#connect-form {
  display: none;
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  z-index: 1001;
  background-color: white;
  padding: 20px 0;
}
#connect-button {
  background: #20c05c;
  color: white;
  border: 1px solid #1fbc5a;
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
input {
  display: block;
  margin: 10px auto 0;
}
#mask {
  display: none;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0B1B11;
  opacity: .8;
}