<html>
  <head>
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/main.min.css">
  </head>
  <body>
    <nav class="navigation">
      <h1 class="title">Fiddler Remote</h1>
      <ul class="options">
        <li class="option">
          <button id="connect" class="fa fa-wifi"></button>
        </li>
      </ul>
    </nav>
    <section id="content" class="{{theme.remote}}">
      <div id="video-wrapper">
        <div class="display">
          <div class="glass">
          </div>
          <div class="render">
          </div>
        </div>
      </div>
      <div id="remote-wrapper">
        <div class="display">
          <div class="glass">
          </div>
          <div class="render">
            <p class="type">Nav&nbsp;:&nbsp;<span id="nav-value" class="value">UNDEF</span></p>
            <p class="type">Mon&nbsp;:&nbsp;<span id="mon-value" class="value">UNDEF</span></p>
            <p class="type">Col&nbsp;:&nbsp;<span id="col-value" class="value">UNDEF</span></p>
          </div>
        </div>
        <div class="camera rectangular button">
          <i class="fa fa-chevron-left"></i>
          <i class="fa fa-video-camera"></i>
          <i class="fa fa-chevron-right"></i>
        </div>
        <div class="movement radial button">
          <i class="fa fa-chevron-left"></i>
          <i class="fa fa-chevron-right"></i>
          <i class="fa fa-chevron-down"></i>
          <i class="fa fa-chevron-up"></i>
        </div>
        {{!--
        <div class="arm-controls">
          <button class="button linear oval">
            <i class="fa fa-chevron-up"></i>
          </button>
          <button class="button linear oval">
            <i class="fa fa-chevron-up"></i>
          </button>
        </div>
        --}}
      </div>
    </section>
    <form id="connect-form" name="fbot_gui" method="get" action="./">
      <input type="text" id="rosbridgeHost" placeholder="Server Hostname or IP">
      <input type="text" id="rosbridgePort" placeholder="Port">
      <input type="submit" id="connect-button" value="Connect">
    </form>
    <div id="mask"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      var $form = $('#connect-form'),
          $mask = $('#mask');

      $('#mask').on('click', function() {
        $mask.hide();
        $form.hide();
      });

      $('#connect').on('click', function() {
        $mask.show();
        $form.show();
      });
    </script>
  </body>
</html>